/* Quiz Styling */
#quiz-container {
    padding: 20px;
}

.quiz-option {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-option:hover {
    background-color: #00509e;
}

#quiz-result {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}
